@media (max-width: 400px) {
    .head1-div {
    display: flex;
    flex-direction: column;  
}
.img1-div img{
width: 382.5px;
}
.head2-h1 {
font-size:30px;
}
.head2-p{
    font-size: 8px;
    font-weight: 600;
    width: 100%;
}
.head-list li a{
  font-size: 12px;
}
.mainimg-div img {
  width: 180px;
}
}
    
